@import 'tailwindcss';

:root {
  --font-sans: 'Inter', system-ui, sans-serif;
  --font-mono: 'Inter', monospace;
  --background-color: #06021d;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 18px;
  line-height: 32px;
  -webkit-font-smoothing: antialiased;
}

html,
body,
#app {
  height: 100%;
}

body {
  font-family: var(--font-sans);
  font-size: 18px;
  line-height: 32px;
  color: white;
  margin: 0;
  color: rgb(1000, 1000, 1000);
  background-color: var(--background-color);

  @media (max-width: 1024px) {
    font-size: 15px;
    line-height: 24px;
  }
}

img {
  max-width: 100%;
  display: block;
}

h1 {
  font-family: var(--font-sans);
  font-size: 64px;
  line-height: 70px;
  font-weight: 700;
  letter-spacing: -0.02em;

  @media (max-width: 1024px) {
    font-size: 42px;
    line-height: 42px;
  }

  @media (max-width: 768px) {
    font-size: 38px;
    line-height: 38px;
  }

  @media (max-width: 400px) {
    font-size: 32px;
    line-height: 32px;
  }
}

svg {
  vertical-align: middle;
}
.common.container {
  padding-top: 0px;
  padding-bottom: 0px;
  @media (min-width: 1024px) {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
.container {
  padding: 80px 45px;
  max-width: 1600px;
  margin: 0 auto;

  @media (max-width: 400px) {
    padding: 0 24px;
  }
  @media (min-width: 1024px) {
    padding: 80px 80px;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;

    h1 {
      text-align: center;
    }
  }

  .links {
    display: flex;
    align-items: center;
    gap: 12px;

    a {
      text-decoration: none;
      padding: 0.25rem 0.5rem;
      border-radius: 4px;
    }

    .admin {
      color: rgb(0, 0, 0);
      background: rgb(1000, 1000, 1000);
      border: 1px solid rgb(0, 0, 0);
    }

    .docs {
      color: rgb(1000, 1000, 1000);
      background: rgb(0, 0, 0);
      border: 1px solid rgb(1000, 1000, 1000);
    }
  }

  .footer {
    display: flex;
    align-items: center;
    gap: 8px;

    @media (max-width: 1024px) {
      flex-direction: column;
      gap: 6px;
    }

    p {
      margin: 0;
    }

    .codeLink {
      text-decoration: none;
      padding: 0 0.5rem;
      background: rgb(60, 60, 60);
      border-radius: 4px;
    }
  }
}
@layer components {
  .card-border {
    @apply rounded-2xl bg-[var(--background-color)] border border-white shadow-2xl backdrop-blur;
  }
  .card-border-padded {
    @apply rounded-2xl bg-[var(--background-color)] border border-white shadow-2xl p-6 backdrop-blur;
  }

  .card-hover {
    @apply transition-all duration-300 hover:-translate-y-1 hover:shadow-xl;
  }
  .card-title {
    @apply text-2xl font-bold text-white transition-all duration-300 hover:-translate-y-1;
  }
  .card-secondary-title {
    @apply text-xl font-semibold text-white;
  }
  .card-subtitle {
    @apply font-medium text-white;
  }
  .list-title {
    @apply text-4xl font-bold tracking-tight text-white;
  }
  .primary-btn {
    @apply inline-flex w-fit items-center gap-2 whitespace-nowrap rounded-lg border border-white/80 px-5 py-3 text-sm font-medium text-white transition-all duration-300 hover:-translate-y-1 hover:bg-white hover:text-black;
  }
  .link-btn {
    @apply text-sm font-medium text-white hover:underline transition-all duration-300 hover:-translate-y-1;
  }
}
